<td data-test-fullname>{{client.fullName}}</td>
<td data-test-email>{{client.email}}</td>
<td data-test-mobile>{{client.mobile}}</td>
<td data-test-action>
  {{#bulma/bulma-button type="button" classNames="is-info is-small"}}
    Generate
  {{/bulma/bulma-button}}
</td>