<div class="field">
  <label class="label" data-test-label>{{label}}</label>
  <div class="control">
    {{input
      class=inputClasses
      value=value
      type=type
      placeholder=placeholder
    }}
  </div>
  {{#if showError}}
    <p class="help is-danger" data-test-error>{{error}}</p>
  {{/if}}
</div>
