{{#bulma/bulma-hero classNames="is-primary"}}
  <h1 class="title">
    Voucher generator
  </h1>
{{/bulma/bulma-hero}}

{{form/clients-search
  email=email
  phone=phone
  onSubmit=(action "searchForClient")
}}

{{#if showClients}}
  {{client/clients-table
    clients=clients
    generateVoucher=(action "generateVoucher")
  }}
{{else}}
  {{#if hasSearched}}
    <div class="has-text-centered">
      <h2 class="subtitle" data-test-no-clients>No clients match your criteria</h2>
    </div>
  {{/if}}
{{/if}}