{{#bulma/bulma-hero classNames="is-primary"}}
  <h1 class="title">
    Voucher generator
  </h1>
{{/bulma/bulma-hero}}

{{form/voucher-generator
  email=email
  phone=phone
  onSubmit=(action "searchForClient")
}}