<form {{action onSubmit on="submit"}}>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <div class="subtitle form-title" data-test-form-title>Find a client and generate voucher</div>
          <p class="form-description" data-test-form-desc>Type email or phone</p>

          <div class="columns">
            <div class="column">
              {{bulma/bulma-field
                data-test-email
                value=email
                label="Email"
                type="email"
                placeholder="e.g. techtest@phorest.com"
              }}
            </div>
            <div class="column">
              {{bulma/bulma-field
                data-test-phone
                value=phone
                label="Phone"
                placeholder="e.g. 888888855599222"
              }}
            </div>
          </div>

          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button class="button is-primary">
                Search
              </button>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
